body {
  height: 1000px;
}
.signup {
  margin-top: 120px;
  padding: 100px 0 150px;
  background-image: url("../images/login_bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}
.signup h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.signup .signup__card {
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #f6f5f0;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  color: #555;
}
.signup__card h2 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.signup__card h2 strong {
  font-weight: 700;
  color: #006633;
}
.signup__card form {
  padding: 30px 22px;
}
.signup__card form input {
  width: 100%;
  margin-bottom: 12px;
   padding: 15px;
   border: 1px solid #ddd;
   border-radius: 4px;
   outline: none;
   box-sizing: border-box;
   font-size: 14px;
}
.signup__card form #ID{
  width: 79%;
}
.signup__card form #addr_num {
  width: 70%;
}
.signup__card form #check_ID {
  width: 20%;
  cursor: pointer;
}
.signup__card form #search_addr {
  width: 29%;
  cursor: pointer;
}
.signup__card form [type="submit"] {
  background-color: #006633;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.signup__card form p {
  font-size: 12px;
  color: #006633;
  text-align: center;
}

